.todo-container {
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.todo-list-header {
  color: black;
  font-size: 26px;
  text-align: center;
  padding: 11px 11px 33px 11px;
}
