.todo-list-container {
  transition: 0.3s;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
  padding: 3px;
  background-color: #f1f1f1;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
.list-items::-webkit-scrollbar {
  display: none;
}
.todo-list-playing-recording {
  pointer-events: none;
  border: 2px solid green;
}
.todo-list-is-recording {
  border: 2px solid #d0021b;
}
.empty-todo-list {
  display: flex;
  justify-content: center;
  padding: 50px;
  color: rgb(185, 184, 184);
  font-size: 22px;
}
