.todo-list {
  height: 100vh;
  box-sizing: border-box;
  padding: 11px;
  background-color: #3398d6;
  align-self: center;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.todo-list-header {
  color: black;
  font-size: 60px;
  text-align: center;
}
