.todo-list {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 11px;
  background-color: #f1f1f1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
.empty-todo-list {
  display: flex;
  justify-content: center;
  padding: 50px;
  color: rgb(185, 184, 184);
  font-size: 30px;
}
