.recorder-player-container {
  width: auto;
  display: flex;
  align-items: center;
}
.recording-timestamp {
  margin-left: 5px;
  color: black;
  font-size: 16px;
}
.left-display {
  margin-left: auto;
}
.recording-time-elapsed {
  color: green;
  font-size: 16px;
  margin-right: 11px;
}
