.recorder-tool-container {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 7px;
}
.recorder-actions {
  display: flex;
}
.recorder-button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.is-recording-prompt {
  color: #d0021b;
  font-size: 22px;
  margin-left: auto;
  margin-right: 22px;
}
