.todo-item {
  width: auto;
  height: 22px;
  transition: 0.15s;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  margin: 4px;
  padding: 11px;
  display: flex;
  align-items: center;
}
.remove-button {
  margin-left: auto;
  display: none;
}
.todo-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}
.todo-item:hover .remove-button {
  display: block;
}
