.check-circle {
  outline: none;
  transition: 0.2s;
  margin-right: 0px 0px 0px 8px;
  border: solid;
  border-color: gray;
  border-radius: 50%;
  border-width: 1px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unchecked {
  border-color: lightgrey;
}
.unchecked:hover {
  border-color: #47d7ac;
}
.checked {
  border-color: #47d7ac;
  background-color: #47d7ac;
}
.checked:hover {
  border-color: #6e978c;
}
.checkmark-completed {
  color: white;
}
.checkmark-open {
  color: rgb(180, 180, 180);
}
