.check-circle {
  outline: none;
  transition: 0.2s;
  margin-right: 18px;
  margin-left: 3px;
  border: solid;
  border-color: gray;
  border-radius: 50%;
  border-width: 2px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unchecked {
  border-color: lightgrey;
}
.unchecked:hover {
  border-color: #47d7ac;
}
.checked {
  border-color: #47d7ac;
  background-color: #47d7ac;
}
.checked:hover {
  border-color: #6e978c;
  background-color: #6e978c;
}
.checkmark {
  color: white;
  width: 30px;
  height: 30px;
}
